header{
    background-color: #BBBBBB;
    padding: 20px 0;
    position: fixed; /* Fixa o menu no topo */
    top: 0; /* Alinha ao topo */
    width: 100%; /* Garante que o menu ocupe 100% da largura da tela */
    z-index: 1000; /* Mantém o menu acima de outros elementos */
}
.titulo{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-left: -200px

}
.box{
    max-width: 1200px; /* Limita a largura do conteúdo */
    margin: 0 auto; /* Centraliza o conteúdo */
    display: flex; /* Usado para alinhar título e menu horizontalmente */
    justify-content: space-between; /* Espaça o título e o menu */
    align-items: center; /* Centraliza verticalmente os itens */
    /*position: relative;
    width: 1500px;
    margin: 0 100px;*/
}
nav{
    position: absolute;
    top: 25;
    right: 250px;

}
nav li{
    display: inline-block;
    margin-left: 15px;
    /*display: inline;
    margin: 0 0 0 15px;*/
}
nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}